Makefile
Makefile.Debug
Makefile.Release
CppAdvancedTraining.pro.user
debug/
.cproject
.project
.settings/
.metadata/
Default/
object_script.CppAdvancedTraining.Debug
object_script.CppAdvancedTraining.Release